# playable-tool/.envrc
VENV="$HOME/venvs/playable-tool"

if [ -d "$VENV" ]; then
    # explicitly source the activate script
    . "$VENV/bin/activate"
    
    # set prompt manually
    export PS1="($(basename $VIRTUAL_ENV)) $PS1"
fi