/* @theme cowpoke */

@import 'gaia';

/* FONT LOADING */

@font-face {
    font-family: 'Smokum';
    src: url('../fonts/Smokum/Smokum-Regular.ttf') format('truetype');
}

/* Import local fonts */
@font-face {
    font-family: 'Hanken-Grotesk';
    src: url('../fonts/Hanken_Grotesk/static/HankenGrotesk-Regular.ttf') format('truetype');
    font-weight: normal 400;
}

@font-face {
    font-family: 'Hanken-Grotesk';
    src: url('../fonts/Hanken_Grotesk/static/HankenGrotesk-Bold.ttf') format('truetype');
    font-weight: bold 700;
}

@font-face {
    font-family: 'Hanken-Grotesk';
    src: url('../fonts/Hanken_Grotesk/static/HankenGrotesk-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Hanken-Grotesk';
    src: url('../fonts/Hanken_Grotesk/static/HankenGrotesk-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Hanken-Grotesk';
    src: url('../fonts/Hanken_Grotesk/static/HankenGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Hanken-Grotesk';
    src: url('../fonts/Hanken_Grotesk/static/HankenGrotesk-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Hanken-Grotesk';
    src: url('../fonts/Hanken_Grotesk/static/HankenGrotesk-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Hanken-Grotesk';
    src: url('../fonts/Hanken_Grotesk/static/HankenGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 500;
}

/* STYLES */

:root {
    --color-background: #fff;
    --color-foreground: #000;
    --color-highlight: #996633ff;
    --color-dimmed: #888;
}

body {
    font-family: 'Hanken-Grotesk', sans-serif;
    color: var(--color-foreground);
    background-color: var(--color-background);
}

section {
    /* no padding or margin or border */
    padding: 0;
    margin: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Hanken-Grotesk', sans-serif;
    color: var(--color-highlight);
    color: #d00;
    font-size: 2em;
}

/* Center H2 in middle of slide */
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 300;
    text-align: center;
    font-size: 8em;
    margin: 0;
}

/* Weirdo Title Font */
h6 {
    font-family: 'Smokum';
    font-size: 3em;
    margin-bottom: -0.5em;
    margin-top: -0.25em;
}

video {
    /* make video take up all of slide */
    display: block;
    width: 100%;
}